In [12]:
import numpy as np
import pandas as pd
# # https://stackoverflow.com/questions/50394873/import-pandas-datareader-gives-importerror-cannot-import-name-is-list-like
# pd.core.common.is_list_like = pd.api.types.is_list_like
# import pandas_datareader as pdr
# from datetime import datetime as dt
import quandl as qdl
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
data = pd.read_csv(
    'historical.csv', sep=',', parse_dates=True, index_col='Date', usecols=['Close', 'Date', 'Symbol']
)
tcs_mask = data.Symbol == 'TCS'
infy_mask = data.Symbol == 'INFY'
# explicit copy to avoid SettingWithCopyWarning due to hidden chained index assignment later on
df = data.loc[tcs_mask].copy()
df.head()

           Symbol        Close
Date
2017-08-23    TCS  1221.937012
2017-08-24    TCS  1225.451538
2017-08-28    TCS  1220.886597
2017-08-29    TCS  1212.817139
2017-08-30    TCS  1219.541748

In [116]:
# alternatively if we don't want to make a copy of the dataframe, and want to operate on the original
# data.loc['% Change'] = pd.Series(None)
data.loc[tcs_mask].head()
# data.loc[infy_mask].head()

           Symbol        Close
Date
2017-08-23    TCS  1221.937012
2017-08-24    TCS  1225.451538
2017-08-28    TCS  1220.886597
2017-08-29    TCS  1212.817139
2017-08-30    TCS  1219.541748

In [24]:
df['% Change'] = pd.Series(None, index=df.index)
df.head()

           Symbol        Close  % Change
Date
2017-08-23    TCS  1221.937012       NaN
2017-08-24    TCS  1225.451538       NaN
2017-08-28    TCS  1220.886597       NaN
2017-08-29    TCS  1212.817139       NaN
2017-08-30    TCS  1219.541748       NaN

In [3]:
# percentage change
df['% Change'] = df['Close'].pct_change()
df = df.dropna()
df.head()

           Symbol        Close  % Change
Date
2017-08-24    TCS  1225.451538  0.002876
2017-08-28    TCS  1220.886597 -0.003725
2017-08-29    TCS  1212.817139 -0.006610
2017-08-30    TCS  1219.541748  0.005545
2017-08-31    TCS  1225.333862  0.004749

In [5]:
# simple moving average
df['SMA 365'] = df['Close'].rolling(365).mean()
df.dropna()
df.head()
df.tail()

           Symbol        Close  % Change  SMA 365
Date
2018-08-14    TCS  2003.550049  0.001700      NaN
2018-08-16    TCS  2008.500000  0.002471      NaN
2018-08-17    TCS  2012.750000  0.002116      NaN
2018-08-20    TCS  2009.949951 -0.001391      NaN
2018-08-21    TCS  2017.650024  0.003831      NaN

In [14]:
tcs =  qdl.get('NSE/TCS', start_date="2016-10-01", end_date="2018-09-15")

LimitExceededError: (Status 429) (Quandl Error QELx01) You have exceeded the anonymous user limit of 50 calls per day. To make more calls today, please register for a free Quandl account and then include your API key with your requests.